aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
lib/.deps
lib/Makefile
lib/Makefile.in
firmware/build/
Makefile
Makefile.in
lib/libsmbusb.pc
autom4te.cache/
tools/.deps/
